<div class="levels">
    <div class="levelGroup" minindex="1" maxindex="3">
        <div class="title">Beginner</div>
        <div class="content">
            <div class="level">Level 1</div>
            <div class="level">Level 2</div>
            <div class="level">Level 3</div>
        </div>
    </div>
    <div class="levelGroup" minindex="3" maxindex="11">
        <div class="title ">Sokoban Junior</div>
        <div class="content">
            <div class="level">Level 1</div>
            <div class="level">Level 2</div>
            <div class="level">Level 3</div>
            <div class="level">Level 4</div>
            <div class="level">Level 5</div>
            <div class="level">Level 6</div>
            <div class="level">Level 7</div>
            <div class="level">Level 8</div>
            <div class="level">Level 9</div>
            <div class="level">Level 10</div>
        </div>
    </div>
    <div class="levelGroup" minindex="11" maxindex="53">
        <div class="title">Micro Cosmos</div>
        <div class="content">
            <div class="level">Level 1</div>
            <div class="level">Level 2</div>
            <div class="level">Level 3</div>
            <div class="level">Level 4</div>
            <div class="level">Level 5</div>
            <div class="level">Level 6</div>
            <div class="level">Level 7</div>
            <div class="level">Level 8</div>
            <div class="level">Level 9</div>
            <div class="level">Level 10</div>
            <div class="level">Level 11</div>
            <div class="level">Level 12</div>
            <div class="level">Level 13</div>
            <div class="level">Level 14</div>
            <div class="level">Level 15</div>
            <div class="level">Level 16</div>
            <div class="level">Level 17</div>
            <div class="level">Level 18</div>
            <div class="level">Level 19</div>
            <div class="level">Level 20</div>
            <div class="level">Level 21</div>
            <div class="level">Level 22</div>
            <div class="level">Level 23</div>
            <div class="level">Level 24</div>
            <div class="level">Level 25</div>
            <div class="level">Level 26</div>
            <div class="level">Level 27</div>
            <div class="level">Level 28</div>
            <div class="level">Level 29</div>
            <div class="level">Level 30</div>
            <div class="level">Level 31</div>
            <div class="level">Level 32</div>
            <div class="level">Level 33</div>
            <div class="level">Level 34</div>
            <div class="level">Level 35</div>
            <div class="level">Level 36</div>
            <div class="level">Level 37</div>
            <div class="level">Level 38</div>
            <div class="level">Level 39</div>
            <div class="level">Level 40</div>
        </div>
    </div>
</div>