body {
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
}
body.sokoban {
  background-image: url('../img/interface.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1280px;
  margin: 0;
}
body.menu {
  background-image: url('../img/menu.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1280px;
}
.block {
  position: absolute;
  background-size: 60px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
.block.wall {
  background-image: url('../img/Wall.png');
}
.block.box {
  background-image: url('../img/Box.png');
  z-index: 5;
  cursor: pointer;
}
.block.box.onTarget {
  background-image: url('../img/BoxOnTarget.png');
}
.block.box.selected {
  background-image: url('../img/greenBox.png');
}
.block.floor {
  background-image: url('../img/Floor.png');
}
.block.target {
  background-image: url('../img/Target.png');
}
.block.player {
  background-image: url('../img/Ghost.png');
  z-index: 10;
}
.gameContainer {
  position: relative;
}
.gameStatus {
  position: absolute;
}
.gameStatus div {
  display: inline-block;
}
.menuContainer {
  text-align: center;
  color: #fff;
}
.menuContainer div {
  cursor: pointer;
  margin-bottom: 20px;
}
.menuContainer div.disabled {
  color: #aaa;
  cursor: default;
}
.sffNavigator {
  display: none;
}
.errorBlock {
  display: none;
  position: absolute;
  border: solid 3px #ff0000;
}
@media screen and (max-width: 900px), screen and (max-height: 680px) {
  body.sokoban {
    background: none;
  }
  body.menu {
    background-color: #006bb0;
  }
  .gameStatus {
    display: none;
  }
  .sffNavigator {
    display: block;
    position: absolute;
    top: 10px;
    width: 100%;
  }
  .sffNavigator .icon {
    width: 22px;
    height: 22px;
    background-size: 22px;
    position: absolute;
    cursor: pointer;
  }
  .sffNavigator .icon.reload {
    left: 5%;
    background-image: url(../img/reload.png);
  }
  .sffNavigator .icon.back {
    right: 5%;
    background-image: url(../img/backArrow.png);
  }
  .ui-dialog {
    top: 2% !important;
    left: 2% !important;
    width: 95% !important;
    height: 95% !important;
    border-radius: 135px;
    padding: 0;
  }
  .ui-dialog .ui-dialog-titlebar {
    background: none;
    text-align: center;
    border: none;
    color: #26C920;
    padding-top: 9%;
  }
  .ui-dialog .ui-dialog-titlebar button {
    display: none;
  }
  .ui-dialog .ui-dialog-content {
    color: #26C920;
    margin-top: 5%;
  }
  .ui-dialog .ui-dialog-buttonpane {
    border: 0;
  }
  .ui-dialog .ui-dialog-buttonpane button {
    background: url('../img/next.png');
    border: none;
    color: transparent;
    background-color: transparent;
  }
  .ui-dialog .ui-dialog-buttonpane button:focus {
    border: none;
  }
  .ui-dialog .ui-dialog-buttonpane .ui-icon {
    display: none;
  }
}
